.bg-first {
  background-color: #219ebc !important;
}

.bg-second {
  background-color: #8ecae6 !important;
}

.bg-third {
  background-color: #023047 !important;
}

.bg-forth {
  background-color: #ffb703 !important;
}

.bg-fifth {
  background-color: #fb8500 !important;
}
